<footer class="footer w-100 bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Sobre nosotros</h5>
                <p>
                    Somos una empresa dedicada a ofrecer los mejores servicios para nuestros clientes. 
                    Nuestra misión es brindar calidad y satisfacción en cada uno de nuestros proyectos.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Email: contacto&#64;miempresa.com</a></li>
                    <li><a href="#" class="text-dark">Teléfono: +1 234 567 890</a></li>
                    <li><a href="#" class="text-dark">Dirección: Calle Ejemplo 123</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-light">
        © 2025 Mi Empresa | <a class="text-dark" href="#">Política de Privacidad</a>
    </div>
</footer>