<div class="container my-5">
    <h2 class="text-center mb-4">Ahorcado de Deportes de Contacto</h2>
  
    <div class="text-center mb-4">
      <h3>Palabra a adivinar:</h3>
      <h1 class="letter-spacing: 10px;">{{ palabraMostrada }}</h1>
    </div>
  
    <div class="text-center mb-4">
      <h5>Intentos restantes: {{ intentosRestantes }}</h5>
    </div>
  
    <div class="text-center mb-4">
      <input type="text" class="form-control mx-auto" style="width: 200px;" maxlength="1" [(ngModel)]="letraIntento" (keyup.enter)="adivinarLetra(letraIntento)">
      <button type="button" class="btn btn-primary mt-2" (click)="adivinarLetra(letraIntento)">Adivinar Letra</button>
    </div>
  
    <div class="text-center mb-4" *ngIf="mensaje">
      <p class="alert alert-info">{{ mensaje }}</p>
    </div>
  
    <div class="text-center">
      <h5>Letras adivinadas:</h5>
      <p>{{ letrasAdivinadas.join(', ') }}</p>
    </div>

    <div class="text-center">
      <img [src]="imagenAhorcado" alt="Estado del ahorcado" class="img-fluid" style="width: 300px; height: auto;">
    </div>

    <div class="modal fade" id="modalPerdido" tabindex="-1" aria-labelledby="modalPerdidoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-tittle" id="modalPerdidoLabel">!Juego Terminado¡</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <p class="fs-4 fw-bold text-danger">!Oh no¡ Te quedaste sin intentos</p>
            <p class="fs-5">La palabra secretar era:</p>
            <h4 class="text-primary">{{palabraSecreta}}</h4>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn-btn-succes" data-bs-dismiss="modal" (click)="reiniciarJuego()">Jugar de Nuevo</button>
          </div>
        </div>
      </div>
    </div>
</div>